<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WhereTo | Home</title>
  <link rel="icon" href="/WTFavicon.png" type="image/png">
  <link rel="stylesheet" href="homepage.css" />
</head>
<body>
  <div class="container">
    <header>
      <img src="compass.PNG" alt="Left Icon" class="left-icon" />
      <img src="Logo.PNG" alt="WhereTo Jeepney Route Finder Logo" class="logo-img" />
      <nav>
        <a href="/about" class="btn">About</a>
        <a href="/signin" class="btn">Sign in</a>
        <a href="/signup" class="btn">Sign up</a>
      </nav>
    </header>

    <main>
      <h2>WhereTo is always <br> here to guide you <br> wherever and <br> whenever you need us.</h2>
      <p>Dedicated to making your trip convenient.</p>
      <button onclick="window.location.href='/signin'">Begin commuting</button>
    </main>
  </div>

</body>
</html>