@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kdam Thmor');
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
                to right,
                rgba(109, 109, 109, 0.4),
                rgba(77, 77, 77, 0.4)
              ),
              url("BG.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;

  height: 100vh;     
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Navbar */
.navbar {
  flex: 0 0 60px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 700;
  font-size: 18px;
}

.logo img {
  width: 70px;
  height: auto;
}

.extra-logo {
  width: 80px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: kdam Thmor, sans-serif;
}

.btn {
  background: #fff;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family:  kdam Thmor, sans-serif;
}

.btn:hover {
  background: #f0f0f0;
}

/* Layout */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  min-height: calc(100vh - 80px); /* full height minus navbar */
}

/* Left side */
.left {
  flex: 1;
}
.main-logo {
  width: 560px;
  height: 550px;    
  max-width: none;   
  margin-left: 70px;
  object-fit: contain;
}
/* Right side (Sign up card) */
.card {
  background: #fff;
  padding: 20px 30px; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 550px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 600;
  font-family: kdam Thmor, sans-serif;
  text-align: center;
}

.card label {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0 5px;
  display: block;
}

.card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
}
.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #555;
}
.signin-btn {
  width: 100%;
  padding: 12px;
  background: #004aad; 
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background: #003580;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #0073e6;
  text-decoration: none;
}